$cyan: hsl(172, 67%, 45%);
$cyanDark: hsl(183, 100%, 15%);
$cyanDarkGray: hsl(186, 14%, 43%);
$cyanGray: hsl(184, 14%, 56%);
$cyanGrayLight: hsl(185, 41%, 84%);
$cyanGrayLighter: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$fontSize: 1.5rem;
$orange: #BB8B7A;